In [ ]:
/*
===============================================================================
03 Date Range Exploration 
===============================================================================
Purpose:
    - To identify the earliest and latest dates (boundaries)
    - To understand the scope of data and the timespan

SQL Functions Used:
    - MIN(), MAX(), DATEDIFF()
===============================================================================
*/

In [1]:
-- Determine the first and last order date and the total duration in months
SELECT 
      MIN(order_date) AS first_order_date,
	  MAX(order_date) AS last_order_date,
	  DATEDIFF(MONTH, MIN(order_date), MAX(order_date)) AS order_range_months
FROM gold.fact_sales;

first_order_date,last_order_date,order_range_months
2010-12-29,2014-01-28,37

In [2]:
-- Find the youngest and oldest customer based on birthdate
SELECT
      MIN(birthdate) AS oldest_birthdate,
      DATEDIFF(YEAR, MIN(birthdate), GETDATE()) AS oldest_age,
      MAX(birthdate) AS youngest_birthdate,
      DATEDIFF(YEAR, MAX(birthdate), GETDATE()) AS youngest_age
FROM gold.dim_customers;

oldest_birthdate,oldest_age,youngest_birthdate,youngest_age
1916-02-10,109,1986-06-25,39